body {
    background: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;  
}

header {
    background: #7a7474;
    max-width: 60%;
    display: flex;
    font-size: 11px;
    flex-wrap: wrap;
    justify-content: space-around;
}

header img {
    width: fit-content;
    padding: 3px o 3px 3px;
}

header h1 {
    color: white;
}

.container {
    box-sizing: border-box;
    max-width: 60%;
    border: 5px solid white;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}
    
main > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

img {
    width: 100%;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    text-align: center;
}

p {
    text-align: justify;
    padding: 4px 4px;
    background: whitesmoke;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    color: blue;
}

footer {
    max-width: 60%;
    background: #7a7474;
    border: none;
    text-align: left;
    padding: 5px 0 8px 0;
}

footer h3 {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: white;
    margin: 5px;
}

footer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0;
    background: #7a7474;
    margin: 0 0 3px 5px;
}

footer a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 0 5px 5px;
}